.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


.logo{
    height: 25vh;
    margin: 0 auto;
}


.wizard{
    height: 75vh;
    width: 100vw;
}

h2{
    font-size: 25px;
    margin: 20px 0 0 0;
    color: white;
    text-align: start;
}

span{
    color: white;
    text-align: start;
}

.step{
    height:75vh;
    width: 100vw;
    text-align: center;
}

.introduction{
    width: 70%;
    max-width: 700px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

h2{
    color: white;
    margin-left: 0;
}

.introduction p{
    color: white;
    text-align: justify;
    line-height: 30px;
    font-size: 15px;
}

.btnsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}

@media (max-width: 1300px) {
    .btnsContainer{
        margin-top: 15px;
    }
}

.btn, .nextBtn, .prevBtn{
    padding: 12px 30px;
    border-radius: 7px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

#newRoom, .nextBtn{
    background-color: #fb3e93;
    color:white;
}

#newRoom:hover, .nextBtn:hover{
    background-color: #fd9bc7;
}

#joinRoom, .prevBtn{
    background-color: #065fff;
    color:white;    
}

#joinRoom:hover, .prevBtn:hover{
    background-color: #80acff;
}


.form{
    height: 75vh;
    width: 70%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
}

@media (max-width: 500px) {
    .form{
        width: 90%;
    }
}

.formContainer{
    min-height: inherit;
    max-height: 65vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #211d49;
    border-radius: 10px;
}

.inputContainer{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

@media (max-width: 870px) {
    .inputContainer{
        flex-direction: column;
    }

    .inputContainer input{
        margin-left: 0px !important;
    }
}

.formContainer input{
    width: 250px;
    height: auto;
    margin-left: 10px;
}

.avatarsInput{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.avatars{
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px); /* Fixed width for each item */
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
}

.avatar, .avatarSelected{
    height:75px;
    width: 75px;
    margin-right: 10px;
    border: 3px solid #065fff;
    border-radius: 50px;
}

@media (max-width: 1300px) {
    .avatars{
        row-gap: 15px;
        grid-template-columns: repeat(auto-fit, 55px); /* Fixed width for each item */
    }

    .avatar, .avatarSelected{
        height:60px;
        width: 60px;
    }
}

@media (max-width: 870px) {
    .avatars{
        grid-template-columns: repeat(auto-fit, 55px); /* Fixed width for each item */
    }
}

.avatarSelected{
    border:3px solid #fb3e93;
}

.avatar:hover{
    border:3px solid #fb3e93;
}

.avatar img, .avatarSelected img{
    height: 100%;
    width: 100%;
}

.popupImage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.popupAvatar{
    position: absolute; /*  Position relative to the container*/
    top: 38%; /* Adjust the position as needed*/
    left: 50%;
    transform: translate(-50%, -50%); /* Center the avatar dynamically*/
    width: 120px; /* Adjust size for the avatar circle*/
    height: 120px; /* Must match width for a perfect circle*/
    border-radius: 50%; /* Make the avatar a circle*/
    border: 3px solid white; /* Optional: Add a border*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for aesthetics*/
}