.roomContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}


.cardsColumn{
    width: 50%;
    height: fit-content;
    background-color: #bea1f7;
}

.tab, .activeTab{
    background-color: #bea1f7;
    padding: 10px;
    width:fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-bottom: none;
    margin-left: 2px;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tab:hover, .activeTab:hover{
    background-color: #8d5bf1;
}

.activeTab{
    background-color: #5E17EB;
}

.tab img, .activeTab img, .update img, .playerCard img{
    max-width: 25px;
    max-height: 25px;
    height: auto;
    display: block;
}

.tab span, .activeTab span, .update span, .playerInfo span{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    font-family: var(--p-font-family);
}

.update span{
    color:#22495F;
}

.leaderboard{
    width: 25%;
    height: 100vh;
}

.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10%;
    max-height: 100vh;
}

.card{
    width: 75px;
    height: 125px;
    overflow: hidden;
    margin: 0 0 25px 20px;
    padding: 0;
    border: none;
    background-color: #bea1f7;
}

.inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped .inner {
    transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back {
    z-index: 2;
}
  
.front {
    transform: rotateY(180deg);
}

/* .card img{
    width: 75px;
    height: 125px;
    object-fit: cover;
} */

/* ////////////////////////// */
.newsBroadcast, .leaderboard{
    width: 25vw;
    padding: 20px;
}

.update, .playerInfo{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    background-color: #c7deeb;
    border-radius: 10px;
    margin-top: 20px;
}

.tabTitle, .lbtitle, .roomTitle{
    color:#22495F;
    font-weight: bold;
    font-size: 25px;
    font-family: var(--p-font-family);

}

.updates{
    overflow-y: scroll;
    max-height: 100vh ;
}

.tabs{
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.playerCard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.playerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    width: 200px;
    margin: 0 0 0 10px;
    background-color: #ff9980;
}

.playerCard img{
    max-width: 50px;
    max-height: 50px;
}

.playerInfo span{
    color: #22495F;
}

.lbtitle{
    color: #b32400;
}

.roomTitle{
    font-size: 20px;
    text-align: center;
    width: 100vw;
    display: block;
    margin-bottom: 25px;
}